@media (hover: hover) {
      .action__bussiness:hover {
            color: var(--black-color);
            background: var(--white-color);
      }

      .intro__download:hover {
            padding: 12px 60px 12px 30px;
            color: var(--white-color);
            background: var(--black-color);
      }

      .intro__download:hover::before {
            opacity: 0;
      }

      .intro__download:hover::after {
            opacity: 1;
      }

      .downloads__link:hover span {
            opacity: 1;
      }

      .downloads__link:hover::before {
            opacity: 1;
      }

      .downloads__link:hover::after {
            opacity: 0;
      }

      .footer__social:hover {
            opacity: 0.5;
      }

      .footer__link:hover {
            opacity: 1.1;
      }

      .footer__mail:hover {
            opacity: 1;
      }

      .footer__agency:hover {
            opacity: 0.6;
      }

      .link__page:hover {
            opacity: 1;
      }
}

@media (max-width: 320px) {
      .features {
            padding: 10vh 30px;
            box-sizing: border-box;
      }
      br {
            display: block;
      }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

      .description {
            flex-direction: column;
      }

      .description .description__wrapper:nth-child(2) {
            justify-content: center;
            margin-top: 2em;
      }

      .description__content {
            max-width: 70% !important;
      }

      .downloads__list {
            flex-direction: column;
      }

      .downloads__item {
            margin-top: 3em;
      }      

      .background__sources {
            grid-template-columns: 1fr !important;
            gap: 20px;
      }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
      .features {
            flex-direction: column;
      }

      .features__box--free {
            margin-right: 0;
      }

      .features__box--premium {
            margin-top: 2em;
            margin-left: 0;
      }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
      .intro__preview {
            display: none;
      }

      .intro__title,
      .intro__caption {
            text-align: center;
      }

      .intro__download {
            margin: 0 auto;
      }

      .intro__app_show {
            justify-content: center;
      }

      .description__content {
            max-width: 85%;
      }

      .background__sources {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 160px;
            gap: 20px;
            width: unset;
      }

      .background__image {
            box-sizing: border-box;
            width: 100%;
            margin-right: 0;
      }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}